Unit]
Description=Run hiawatha-monitor_delete_old_logs
RefuseManualStart=no
RefuseManualStop=yes
#OnFailure=failure-email@%i.service

[Service]
User=http
Type=oneshot
CPUShares=256
MemorySoftLimit=256
ExecStart=/srv/http/monitor/database/delete_old_logs
