/* Webservers
 */
div.webserver table {
	width:100%;
}

div.webserver table td:first-child {
	width:120px;
	vertical-align:top;
}

div.webserver div.online {
	background-color:#e8ffe8;
	background-image:none;
}

div.webserver div.offline {
	background-color:#ffe8e8;
	background-image:none;
}

/* Alerts
 */
div.top-alert table {
	width:100%;
}

div.top-alert table td:nth-child(2) {
	width:80px;
	text-align:right;
}
