div.timespan {
	margin-bottom:10px;
	font-size:14px;
	text-align:right;
}

fieldset.statistics {
	position:relative;
}

fieldset.statistics div.info {
	height:15px;
}

fieldset.statistics span.count {
	position:absolute;
	top:-10px;
	right:170px;
	width:100px;
	text-align:right;
}

fieldset.statistics span.date {
	position:absolute;
	top:-10px;
	right:20px;
	width:150px;
	text-align:right;
}

fieldset.statistics div.ybar {
	float:left;
	min-width:50px;
	text-align:right;
	background-color:inherit;
	height:222px;
	padding-right:15px;
	margin-right:10px;
	border-right:1px solid #e0e0e0;
}

fieldset.statistics div.graph {
	background-color:#ffffff;
	border:1px solid #e0e0e0;
	height:200px;
	padding:10px;
}

fieldset.statistics div.graph div.bar {
	height:200px;
	float:left;
	position:relative;
	width:25px;
}
fieldset.statistics div.graph div.bar div.percentage {
	background-color:#ff0000;
	width:23px;
	position:absolute;
	bottom:0;
	border-bottom:1px solid #ffa0a0;
}

/* Day statistics
 */
input.back {
	position:absolute;
	right:30px;
	top:20px;
}

table.list {
	width:100%;
}

table.list th.webserver {
	width:200px;
}

table.list th.count {
	width:250px;
}
