/* Design by Free CSS Templates
 * http://www.freecsstemplates.org
 * Released for free under a Creative Commons Attribution 2.5 License
 */
@import url(/css/includes/banshee.css);

* {
	margin:0;
	padding:0;
}

body {
	margin:0;
	padding:0;
	background:#ede7db url(/images/background.gif) repeat-x left top;
	text-align:justify;
	font-family:sans-serif;
	font-size:12px;
	color:#696969;
}

h1 {
	font-size:22px;
	margin-bottom:10px;
}

h2 {
	font-size:16px;
	font-weight:normal;
	margin-bottom:5px;
}

h3 {
	font-size:14px;
}

p {
	margin-bottom:10px;
}

a {
	text-decoration:none;
	color:#ff7020;
}

a:hover {
	border-bottom:none;
}

a img {
	border:none;
}

img.left {
	float:left;
	margin:0 20px 0 0;
}

img.right {
	float:right;
	margin:0 0 0 20px;
}

fieldset {
	padding:10px;
	border:1px solid #e0e0e0;
	background-color:#f0f0f0;
	margin-top:15px;
}

legend {
	font-weight:bold;
	padding:1px 20px;
	font-size:13px;
	color:#505050;
	background-color:#e0e0e0;
}

/* Wrapper
 */
div.wrapper {
	width:960px;
	margin:0 auto 30px auto;
	padding:0;
	position:relative;
}

/* Header
 */
div.header {
	height:100px;
}

div.header div.title {
	padding-top:40px;
	font-size:40px;
	color:#ffffff;
	text-align:right;
}

/* Top bar
 */
div.topbar {
	background-color:#ff8020;
	color:#2e0815;
	height:40px;
	border-top:5px solid #ffffff;
}

/* Menu
 */
div.menu {
	padding:13px 0 0 30px;
}

div.menu ul li {
	display:inline;
}

div.menu ul li:after {
	content:"|";
	color:#ffffff;
	margin:0 20px;
}

div.menu ul li:last-child:after {
	content:none;
}

div.menu ul li a {
	color:#000000;
	font-weight:bold;
}

/* Page
 */
div.wrapper > div.page {
	padding:20px;
	background-color:#ffffff;
	min-height:300px;
	position:relative;
}

div.page div.filter {
	position:absolute;
	top:20px;
	right:20px;
}
div.page div.filter span {
	margin-left:20px;
}

/* Footer
 */
div.footer {
	height:35px;
	padding-top:15px;
	background:#404040;
	text-align:center;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

div.footer span {
	text-align:center;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#b0b0b0;
}

div.footer span:after {
	content:"|";
	padding:0 15px;
}

div.footer span:last-child:after {
	content:none;
}

div.footer a {
	color:#ede7db;
}
