/* Design by Free CSS Templates
 * http://www.freecsstemplates.org
 * Released for free under a Creative Commons Attribution 2.5 License
 */
@import url(/css/includes/banshee.css);

body {
	margin:0;
	padding:0;
	background:#ede7db url(/images/background.gif) repeat-x left top;
	text-align:justify;
	font-family:sans-serif;
	font-size:12px;
	color:#696969;
}

h1, h2, h3 {
	margin-top:0;
}

h1 {
	font-size:22px;
}

h2 {
	font-size:16px;
	font-weight:normal;
}

h3 {
	font-size:14px;
}

a {
	text-decoration:none;
	color:#ff7020;
}

a:hover {
	border-bottom:none;
}

a img {
	border:none;
}

img.left {
	float:left;
	margin:0 20px 0 0;
}

img.right {
	float:right;
	margin:0 0 0 20px;
}

fieldset {
	padding:10px;
	border:1px solid #e0e0e0;
	background-color:#f0f0f0;
	margin-top:15px;
}

legend {
	font-weight:bold;
	padding:1px 20px;
	font-size:13px;
	color:#505050;
	background-color:#e0e0e0;
}

/* Wrapper
 */
div.wrapper {
	width:960px;
	margin:0 auto 30px auto;
	padding:0;
	position:relative;
}

/* Header
 */
div.header {
	height:100px;
}
div.header div.title {
	padding-top:40px;
	font-size:40px;
	color:#ffffff;
	text-align:right;
}

/* Top bar
 */
div.topbar {
	background-color:#ff8020;
	color:#2e0815;
	height:40px;
	border-top:5px solid #ffffff;
}

/* Menu
 */
div.menu {
	position:absolute;
	top:130px;
	z-index:100;
}
div.menu:hover div.menu-content {
	display:block;
}

div.menu div.menu-trigger {
	margin:0 50px 0 20px;
	cursor:pointer;
	text-transform:uppercase;
	width:40px;
	height:15px;
}
div.menu div.menu-trigger a {
	color:#000000;
}

div.menu div.menu-content {
	position:absolute;
	display:none;
	overflow:hidden;
	border:2px solid #000000;
	background-color:#404040;
	padding:25px;
	width:730px;
	margin-left:10px;
	opacity:0.9;
}

div.menu:hover {
	display:block;
}

div.menu div.section {
	float:left;
	margin-right:50px;
}

div.menu div.section div.title  {
	color:#ffffff;
	font-weight:bold;
	margin-bottom:3px;

}
div.menu div.section a {
	color:#c0c0c0;
	display:block;
	margin-bottom:2px;
}
div.menu div.section a:before {
	content:"-";
	margin-right:5px;
}

/* Page
 */
div.wrapper > div.page {
	padding:20px;
	background-color:#ffffff;
	min-height:300px;
	position:relative;
}

div.page div.filter {
	position:absolute;
	top:20px;
	right:20px;
}
div.page div.filter span {
	margin-left:20px;
}

/* Footer
 */
div.footer {
	height:50px;
	padding:0 20px;
	background:#404040;
}

div.footer p {
	margin:0;
	padding:20px 0 0 0;
	text-align:center;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#b0b0b0;
}

div.footer a {
	color:#ede7db;
}
